<ul>
  {% if page.menuItem == "home" %}<li class="active">{% else %}<li>{% endif %}
  <a href="/index.html">Home</a></li>

  {% if page.menuItem == "screenshots" %}<li class="active">{% else %}<li>{% endif %}
  <a href="/screenshots.html">Screenshots</a></li>


  {% if page.menuItem == "changelog" %}<li class="active">{% else %}<li>{% endif %}
  <a href="/changelog.html/">Changelog</a></li>


  {% if page.menuItem == "install" %}<li class="active">{% else %}<li>{% endif %}
  <a href="/install.html">Installation</a></li>

</ul>
