<ul>
  {% if page.menuItem == "home" %}<li class="active">{% else %}<li>{% endif %}
  <a href="{{ site.baseurl }}index.html">Home</a></li>

  {% if page.menuItem == "screenshots" %}<li class="active">{% else %}<li>{% endif %}
  <a href="yarock/screenshots.html">Screenshots</a></li>


  {% if page.menuItem == "changelog" %}<li class="active">{% else %}<li>{% endif %}
  <a href="yarock/changelog.html">Changelog</a></li>


  {% if page.menuItem == "install" %}<li class="active">{% else %}<li>{% endif %}
  <a href="yarock/install.html">Installation</a></li>

</ul>
